/* #red-queen_and_alice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 450px; 
  z-index: 1;
}

#red-queen_and_alice:before {
  content: " ";
  display: block;
  padding-top: 87%;
} */

/* #red-queen_and_alice img { */
/* position: absolute; */
/* top: 0%; */
/* top: -100%; */
/* top: -200%; */
/* top: -300%; */
/* top: -400%; */
/* top: -500%; */
/* top: -600%; */
/* left: 0; */
/* width: 100%; */
/* } */
